
WhatWeSea.xcodeproj/xcuserdata/fabiantroxler.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

WhatWeSea.xcodeproj/project.xcworkspace/xcuserdata/fabiantroxler.xcuserdatad/UserInterfaceState.xcuserstate

bin/WhatWeSeaDebug.app/Contents/MacOS/WhatWeSeaDebug

bin/.DS_Store

bin/data/winscreen/.DS_Store

bin/WhatWeSea.app/Contents/MacOS/WhatWeSea

.DS_Store

*.xcuserstate

*.xcuserstate
